*{
    margin: 0;
    border: 0;
    padding: 0;
}
.header{
    height: 15%;
    background-color: rgb(224, 168, 72);
    color: black;
    width: 100%;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}
.bodyCooperado{
    height: 85%;
}